{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-continue": "off",
    "no-plusplus": "off"
  },
  "env": {
    "node": true,
    "jest": true
  }
}